
body {
  margin-left: 1em;
  margin-right: 1em;
}

.navbar-brand-logo {
  width: 20px;
  height: 20px;
  display: inline;
}

#btn-fullscreen {
  height: 24;
}

.navbar-spacer {
  margin-bottom: 60px;
  display: block;
}

#resolution-buttons {
}

.resolution-button {
  margin-top: 15px;
  margin-right: 5px;
}

#camera-preview {
  width: 320px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background: #000;
}

#snapshots-panel-buttons {
  margin-left: 1em;
}

#take-snapshot {
  margin-left: 0px;
}

#clear-snapshots {
  float: right;
}

#snapshots {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  // background: #333;
}

.snapshot-container {
  width: auto;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
}

.snapshot,
.snapshot-caption {
  width: 133px;
}

.snapshot {
  height: 100px;
  display: inline;
  border: none;
}

.snapshot-caption {
  display: block;
}

.shadow {
  box-shadow: 6px 6px 5px #000000;
}

.lbl-timestamp,
.lbl-resolution {
  margin-top: 5px;
}

.lbl-timestamp {
  float: left;
}

.lbl-resolution {
  float: right;
  color: #777;
}

// OVERRIDES
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
  background-color: #2689a5; // #31b0d5;
  border-color: #2aabd2;
}
